.servicePage {
  height: 100vh;
  background: rgb(213, 210, 216);
  .serviceContent {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 100px;
    }
  }
}
