@import "../../index.scss";
.team {
  .singlePerson {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    .memberInfo {
      position: absolute;
      bottom: 0;
      background: #fafafa;
      opacity: 0.8;
      width: 100%;
      height: 30%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #282828;
        opacity: 0.8;
        .title {
          color: #fff;
        }
        i {
          background: #fff;
          border-radius: 50%;
        }
      }
      .name {
        font-weight: 600;
        font-size: 24px;
        color: $primaryColor;
        position: relative;

        &::before {
          content: "";
          bottom: -5px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100px;
          height: 1px;
          background: $primaryColor;
        }
      }
      .title {
        transition: all 0.2s ease-in-out;
        font-size: 15px;
        font-weight: 500;
      }
      .socialIcons {
        transition: all 0.2s ease-in-out;
        margin-top: -6px;
        a {
          text-align: center;
          i {
            width: 30px;
            height: 30px;
            line-height: 32px;
            margin: 0px 4px;
          }
        }
      }
    }
  }
}
