@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}
section {
  margin: 80px 0px;
}
// variables
$primaryColor: #31a8e0;
$textColor: #282828;
.navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
}
// mixins
@mixin btn {
  color: #fff;
  text-decoration: none;
  padding: 16px 20px 19px 10px;
  border: 1px solid $primaryColor;
  border-radius: 30px;

  svg {
    height: 42px;
    width: 62px;
    padding: 10px;
    border-radius: 30px;
    margin-right: 31px;
    border: 1px solid $primaryColor;
  }
}

.fa-facebook-f {
  color: #3b5998;
}
.fa-linkedin-in {
  color: #0077b5;
}
.fa-youtube {
  color: #ff0000;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-pinterest-p {
  color: #e60023;
}
.newsTitle {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  h3 {
    margin-right: 20px;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 1200px) {
  .header {
    .headerBanner {
      padding-top: 14vh;
    }
  }
  .innerAbout {
    flex-direction: column;
    .aboutMembers {
      margin-left: 0px !important;
    }
  }
  .aboutUS {
    height: 150vh;
  }
  .team .singlePerson .memberInfo {
    height: 36%;
  }
  .singleTestimonial {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .subHeader {
    display: none !important;
  }
  .navbar-brand {
    margin-top: 10px;
  }
  .navbar-nav {
    padding-top: 20px;
  }
  .navbar .navbar-nav .nav-item {
    margin-left: 0px !important;
    font-size: 20px;
  }
  .singleProgram {
    margin-bottom: 30px;
  }
  .singleInfo {
    margin-bottom: 30px !important;
  }
  .bannerrightButton {
    margin-top: 0px !important;
  }
  .team .singlePerson .memberInfo {
    height: 26%;
  }

  .team .singlePerson .memberInfo .socialIcons a i {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
  }
  .footer .footerTitle {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .fotterLogo {
    margin-bottom: 20px !important;
  }
  .testimonial .singleTestimonial {
    margin-bottom: 20px;
  }
  .testimonial {
    padding: 50px 0px;
  }
  .trustedUs {
    display: none;
  }
  .team {
    .col-md-6 {
      margin-bottom: 24px;
    }
  }
}
@media (max-width: 768px) {
  .header .headerBannerContent h1 {
    font-size: 50px !important;
  }
  .newsTitle h3 {
    font-size: 26px;
  }
  .aboutUS {
    height: 100vh;
  }
  .aboutMembers {
    display: none;
  }
  .header .headerBannerContent .bottomText svg {
    margin-left: 0px;
  }
  .newsTitle {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .partnerShipRight {
    img {
      width: 90%;
    }
  }
  .aboutUS {
    height: 100vh;
  }
  .navbar-brand {
    img {
      width: 200px;
    }
  }
  .aboutusContent {
    padding: 50px 20px !important;
  }
  .recentNews .singleNews {
    display: unset !important;
  }
  .rightContent {
    margin-bottom: 30px;
  }
  .newsTitle {
    h3 {
      font-size: 22px;
    }
    svg {
      width: 120px;
    }
  }
  .partnerShip .partnerShipLeft h3 {
    font-size: 24px;
  }
  .header .headerBannerContent h1 {
    font-size: 34px !important;
  }
  .partnerShip .partnerShipLeft p {
    font-size: 16px;
    padding: 30px 0px;
  }
  .partnerShip .partnerBg {
    display: none;
  }

  .completeProject .allProjectsInfo .singleInfo {
    height: 120px;
    width: 120px;
  }
  .completeProject .allProjectsInfo .singleInfo h2 {
    font-size: 50px;
  }
  .completeProject .allProjectsInfo .singleInfo h6 {
    font-size: 16px;
    margin-top: 0px;
  }

  .testimonial .singleTestimonial .clientImage img {
    height: 80px;
    width: 80px;
  }
  .testimonial .singleTestimonial .clientImage {
    right: -40px;
  }
  .footer .newsletter .store {
    display: unset;
    margin: 10px 0px;
  }
  .footer .newsletter .store .appStore {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .footer .contactLinks {
    display: unset;
  }
}
